<h1>Hello there!</h1>

<h2>tacos:</h2>



<% tacos = ["Carnitas","al pastor","fish", "steak" ]%>
<p> there are so many tacos <%= tacos.length%>
</p>
<ul>
  <li>Carnitas</li>
  <li>al pastor</li>
</ul>